@import "../../stylesheets/index.css";


#welcome-page {
    display: flex;
    flex-wrap:wrap;
    letter-spacing: 1rem;
    line-height: 1rem;
    font-size: 5vw;
    background:linear-gradient(rgb(0, 0, 0), rgb(44, 44, 44));
    height: 100%;
    flex-grow: 3;
    overflow: hidden;
  }
  
  @keyframes character-hover{
    from {
        transform: translateX(0%);
      }
    
      to {
        transform: translateX(100%);
      }
  }

.pixel-post-character:hover{
    animation-name:character-hover;
   
}

